$yellow: #FFE600;
$maingrey: #2E2E38;
$whisper-light-grey: #FAFAFC;
$white: #FFFFFF;
$denim-blue: #155CB4;
$chateau-green: #47A069;
$narvik-light-green: #EAF8F0;
$thunderbird-maroon: #B9251C;
$whisp-pink: #FDF0F1;
$athens-grey: #E7E7EA;
$athens-grey-light: #EAEAF2;
$athens-grey-lighter: #EDEDEE;
$jumbo-grey: #747480;
$french-grey: #C4C4CD;
$tuna-dark-grey: #343440;
$orange-200: #FF9831;